<div class="game-panel">
    {{#if isImageShowing}}
    <div class="interior-content">
        <button {{action 'imageHide'}}>Hide Content</button>{{edit-game game=game update="update"}}{{game-detail game=game destroyGame='destroyGame'}}<br>
        <h1>{{game.name}}</h1><br>
        <h2>{{game.category}}</h2><br>
        <img class="interior-img" src={{game.image}} alt={{game.name}} /><br>
        <h3>Description: {{game.description}}<br>
        Players: {{game.playerCount}}</h3><br>
        {{#each game.review as |review|}}
            <div class="review">
                <h4>Review: {{review.note}}<br>
                By {{review.author}}</h4>
            </div>
        {{/each}}<br>
        <h4>Tags:{{#each game.tag as |tag|}} "{{tag.tag}}" {{/each}}</h4><br>
    </div>
    {{else}}
    <div class="row exterior">
        <div class="col-md-6 exterior-img">
            <img src={{game.image}} alt={{game.name}} {{action 'imageShow'}}/>
        </div>
        <div class="cold-md-6 exterior-display">
            <h1> <strong>{{game.name}}</strong> | <em>{{game.category}}</em></h1>
            <h2></h2>
        </div>
    </div>
    {{/if}}
</div>
