{{#link-to 'game' game.id}}
  <div class="blog-posts row">
    <div class="col-md-6 image-div">
      <img class="home-image" src={{game.image}} alt={{game.name}}>
    </div>
    <div class="col-md-6 front-description">
      <h3>{{game.name}}</h3>
      <h4>Player Count: {{game.playerCount}}</h4>
      <p>{{game.description}}</p>
    </div>
  </div>
{{/link-to}}
